<nav>
    <ul>
        <li><a href="/dogs/<%= user.id %>/favoriteDogs">Your Favorite Dogs</a></li>
        <li><a href="/dogs/<%= user.id %>">Search Puppies</a></li>
        <li><a href="/users/<%= user.id %>/view">Your Account Details</a></li>
        <li><a href="/users/login">Sign Out</a></li>
    </ul>
</nav>
<h2>Welcome, <%= user.name %> </h2>
<p>Click a Tab to start your search for a new friend!</p>