<!-- this page is used as a landing page for the application and just contains a nav bar and a welcome message -->
<nav>
    <ul class="nav nav-pills justify-content-space-evenly">
        <li class="nav-item"><a href="/dogs/<%= user.id %>/favoriteDogs">Your Favorite Dogs</a></li>
        <li class="nav-item"><a href="/dogs/<%= user.id %>">Search Puppies</a></li>
        <li class="nav-item"><a href="/users/<%= user.id %>/view">Your Account Details</a></li>
        <li class="nav-item"><a href="/users/login">Sign Out</a></li>
    </ul>
</nav>
<h2>Welcome, <%= user.name %> </h2>
<p>Click a Tab to start your search for a new friend!</p>