<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Adopt a Dog</title>
</head>
<body>
    <header>
        <h2>Welcome, <%= user.name %> </h2>
    </header>
    <nav>
        <ul>
            <li><a href="/users/<%= user.id %>/view">Your Account Details</a></li>
            <li><a href="/users/login">Sign Out</a></li>
            <li><a href="/dogs/<%= user.id %>">Search Puppies</a></li>
        </ul>
    </nav>
    <main>
        Main 
    </main>
    <footer>
        Footer
    </footer>
</body>
</html>