body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
header, footer, main, nav {
    border: 1px solid black;
}

header, footer {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header, main, footer {
    flex-shrink: 0;
}
main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    height: 35px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#dog-detail {
    border: 2px solid black;
    display: flex;
}
#dog {
    border: 2px solid hotpink;
}
#contact-detail {
    border: 2px solid hotpink;
}