<h2>Login</h2>
<form action="/users/login" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for="pwd">Password</label>
    <input type="password" name="password" id="pwd">
    <input type="submit" value="Login">
</form>
<a href="/users/new">Sign Up</a>
